<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8" *ngIf="auth.user$ | async as user">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h3 class="card-title text-uppercase text-muted mb-0">Income</h3>
                  <span class="h1 font-weight-bold mb-0">{{ user.income }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-piggy-bank"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h3 class="card-title text-uppercase text-muted mb-0">Expenses</h3>
                  <span class="h1 font-weight-bold mb-0">{{ user.expenses }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h3 class="card-title text-uppercase text-muted mb-0">Balance</h3>
                  <span class="h1 font-weight-bold mb-0">{{ user.income - user.expenses }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-balance-scale"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <button class="btn btn-icon btn-3 btn-warning" type="button" (click)="open(income)">
            <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
            <span class="btn-inner--text">Add Income</span>
          </button>
        </div>
        <!-- Income Modal -->
        <ng-template #income let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add Income</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="addIncome()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="incomeAmt">Amount: </label>
                    <div class="input-group">
                      <input type="number" id="incomeAmt" name="incomeAmt"
                      class="form-group" [(ngModel)]="trans.amount">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <select class="browser-default custom-select col-md-6 form-group selectpicker" 
                  id="incomeSelect" name="incomeSelect" [(ngModel)]="trans.category">
                  <option value="Salary">Salary</option>
                  <option value="Lottery">Lottery</option>
                </select>
              </div>
              <div class="modal-footer">
                <div class="col-xl-9 col-lg-6">
                  <button class="btn btn-icon btn-3 btn-warning" type="submit">
                    <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                    <span class="btn-inner--text">Add Income</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </ng-template>
        <div class="col-xl-4 col-lg-6">
          <button class="btn btn-icon btn-3 btn-warning" type="button" (click)="open(expenses)">
            <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
            <span class="btn-inner--text">Add Expenses</span>
          </button>
        </div>
        <!-- Expenses Modal -->
        <ng-template #expenses let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add Expense</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="addExpense()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="expenseAmt">Amount: </label>
                    <div class="input-group">
                      <input type="number" id="expenseAmt" name="expenseAmt" 
                      class="form-group " [(ngModel)]="trans.amount">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <select class="browser-default custom-select col-md-6 form-group selectpicker" 
                id="expensesSelect" name="expensesSelect" [(ngModel)]="trans.category">
                  <option value="Investment">Investment</option>
                  <option value="Food">Food</option>
                  <option value="Room Rent">Room Rent</option>
                </select>
              </div>
              <div class="modal-footer">
                <div class="col-xl-9 col-lg-6">
                  <button class="btn btn-icon btn-3 btn-warning" type="submit">
                    <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                    <span class="btn-inner--text">Add Expenses</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7" *ngIf="transDB?.length > 0">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Transactions</h3> 
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Amount</th>
                <th scope="col">Type</th>
                <th scope="col">Category</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col"></th>
              </tr>
            </thead>
              <tbody *ngFor="let transTemp of transDB">
                <tr *ngIf="transTemp.uid === userTemp.uid">
                  <th scope="row">
                    {{ transTemp.amount }}
                  </th>
                  <td>
                    {{ transTemp.type }}
                  </td>
                  <td>
                    {{ transTemp.category }}
                  </td>
                  <td>
                    {{ transTemp.date | date: 'dd/MM/yyyy' }}
                  </td>
                  <td>
                    {{ transTemp.date | date: 'h:mm a' }}
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>
</div>